.app__container {
  display: flex;
  flex-direction: column;
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
  gap: 0.3rem;
  background-color: lightblue;
}

.app__navbar {
  display: flex;
  padding: 2rem;
  flex: 0 0 auto;
  background-color: lightcoral;
}

.app__main {
  display: flex;
  flex: 1 1 auto;
  gap: 0.3rem;
}

.app__sidebar {
  flex: 0 0 auto;
  padding: 1rem;
  background-color: lightgoldenrodyellow;
}

.app__content {
  flex: 1;
  padding: 1rem;
  background-color: lightseagreen;
}

.app__title {
  text-align: center;
  padding: 2rem 0;
  font-size: 3.2rem;
}
