:root {
  --font-size-base: 0.7142857vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: min(var(--font-size-base), 10px);
}

html,
body,
#root {
  height: 100%;
}
